/* Estilos generales */
body {
    background: linear-gradient(to bottom, #7c1414, #631818);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

h1, h2 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

p, a {
    font-family: Poppins, sans-serif;
    font-weight: medium;
    text-transform: uppercase;
    margin: 0;
} 

h3 {
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0;
}

/* Logo Section */
.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logo-section .logo {
    max-width: 80px;
    height: auto;
}



/* Evento */
.event {
    background: #ffffff;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.event img {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
}

.event-content {
    flex: 1;
    padding: 20px;
}

.event-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.event-content p {
    margin-bottom: 10px;
}

.event-actions {
    margin-top: 10px;
}

.event-actions a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

/* Nieve */
.snowflake {
    position: fixed;
    top: -10px;
    color: white;
    font-size: 1em;
    pointer-events: none;
    animation: fall 10s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-10px) translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) translateX(20px);
        opacity: 0.5;
    }
}

/* Botón */
button {
    background-color: #063b12;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px auto 0 auto;
    display: block;
}

button:hover {
    background-color: #70bdd4;
}


/* Hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(135deg, #d8ddc3, #c2b88e);
    border-radius: 20px;
    text-align: center;
}

.hero-text {
    line-height: 320%;
    max-width: 100%;
}

.hero-text h1 {
    font-size: 4rem;
    color: #fff;
}

.hero-text h3 {
    font-size: 3rem;
    color: #fff;
}

.hero-text p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #fff;
}

.hero-text a {
    text-decoration: none;
    background: #095c24;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
}

.hero img {
    max-width: 30%;
    border-radius: 15px;
}

/* Programación */
.schedule {
    padding: 50px 20px;
}

.schedule h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #ffffff;
}

.artist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0a5822;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.artist img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.artist-details {
    flex: 1;
    align-items: center;
}

.artist-details h3 {
    font-size: 1.5rem;
    color: #fff;
}

.artist-details p {
    font-size: 1rem;
    margin: 5px 0;
    color: #bbb;
}

.artist-actions a {
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    color: #fff;
}


.footer {
    text-align: center;

}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-icons .icon {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}
.social-icons .icon:hover {
    color: #0077b5; /* Cambia a un color de hover atractivo */
}

/* Responsivo */
@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero img {
        max-width: 60%;
        margin: 20px 0;
    }

    .hero-text {
        max-width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        font-size: 1em;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    .event img {
        max-width: 100%;
    }

    .artist {
        flex-direction: column;
        text-align: center;
    }

    .artist img {
        margin-bottom: 10px;
    }
}
